
<div class="row" id="main">
    <div class="col-8">
        <div class="board" id="chessBoard">
            <div class="chessRow">
                <div id="a8" class="square white"></div>
                <div id="b8" class="square black"></div>
                <div id="c8" class="square white"></div>
                <div id="d8" class="square black"></div>
                <div id="e8" class="square white"></div>
                <div id="f8" class="square black"></div>
                <div id="g8" class="square white"></div>
                <div id="h8" class="square black"></div>
            </div>
            <div class="chessRow">
                <div id="a7" class="square black"></div>
                <div id="b7" class="square white"></div>
                <div id="c7" class="square black"></div>
                <div id="d7" class="square white"></div>
                <div id="e7" class="square black"></div>
                <div id="f7" class="square white"></div>
                <div id="g7" class="square black"></div>
                <div id="h7" class="square white"></div>
            </div>
            <div class="chessRow">
                <div id="a6" class="square white"></div>
                <div id="b6" class="square black"></div>
                <div id="c6" class="square white"></div>
                <div id="d6" class="square black"></div>
                <div id="e6" class="square white"></div>
                <div id="f6" class="square black"></div>
                <div id="g6" class="square white"></div>
                <div id="h6" class="square black"></div>
            </div>
            <div class="chessRow">
                <div id="a5" class="square black"></div>
                <div id="b5" class="square white"></div>
                <div id="c5" class="square black"></div>
                <div id="d5" class="square white"></div>
                <div id="e5" class="square black"></div>
                <div id="f5" class="square white"></div>
                <div id="g5" class="square black"></div>
                <div id="h5" class="square white"></div>
            </div>
            <div class="chessRow">
                <div id="a4" class="square white"></div>
                <div id="b4" class="square black"></div>
                <div id="c4" class="square white"></div>
                <div id="d4" class="square black"></div>
                <div id="e4" class="square white"></div>
                <div id="f4" class="square black"></div>
                <div id="g4" class="square white"></div>
                <div id="h4" class="square black"></div>
            </div>
            <div class="chessRow">
                <div id="a3" class="square black"></div>
                <div id="b3" class="square white"></div>
                <div id="c3" class="square black"></div>
                <div id="d3" class="square white"></div>
                <div id="e3" class="square black"></div>
                <div id="f3" class="square white"></div>
                <div id="g3" class="square black"></div>
                <div id="h3" class="square white"></div>
            </div>
            <div class="chessRow">
                <div id="a2" class="square white"></div>
                <div id="b2" class="square black"></div>
                <div id="c2" class="square white"></div>
                <div id="d2" class="square black"></div>
                <div id="e2" class="square white"></div>
                <div id="f2" class="square black"></div>
                <div id="g2" class="square white"></div>
                <div id="h2" class="square black"></div>
            </div>
            <div class="chessRow">
                <div id="a1" class="square black"></div>
                <div id="b1" class="square white"></div>
                <div id="c1" class="square black"></div>
                <div id="d1" class="square white"></div>
                <div id="e1" class="square black"></div>
                <div id="f1" class="square white"></div>
                <div id="g1" class="square black"></div>
                <div id="h1" class="square white"></div>
            </div>
        </div>
        <div class="d-flex p-2">
            <button class="btn btn-sm btn-outline-info" onclick="send('reload');" id="nextMove">Reload DB</button>
            [START nextMoveButton]
            <button class="btn btn-sm btn-outline-info" onclick="send('nextMove');" id="nextMove">Next move</button>
            [END nextMoveButton]
            [START revertMoveButton]
            <button class="btn btn-sm btn-outline-info" onclick="send('revertMove');" id="revertMove">Revert move</button>
            [END revertMoveButton]
            <button class="btn btn-small btn-primary" onclick="rotateBoard();">Rotate</button>
        </div>
        <div class="p-2">
            PGN:
            <textarea type="text" id="pgn" class="w-100" rows="10">
            </textarea>
        </div>
        <div class="p-2">
            FEN:
            <input type="text" id="fen" class="w-100"/>
        </div>
        <div class="p-2">
            white:
            <input type="text" id="whitePieces" class="w-100"/>
        </div>
        <div class="p-2">
            black:
            <input type="text" id="blackPieces" class="w-100"/>
        </div>
    </div>
    <div class="col-4">
        <div style="float: right; margin-right: 30px; width: 100%;" id="tip" class="mt-5">
        </div>
    </div>
</div>
