
* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: #947065;
    color: white;
}

input, textarea {
    background-color: #947065;
    color: white;
    border: 1px solid black;
}

.board {
    width: min-content;
    margin: 32px auto 0;
    border: 2px solid rgb(13, 0, 0);
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chessRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.square {
    width: {squareSize}px;
    height: {squareSize}px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.piece {
    width: {squareSize}px;
    height: {squareSize}px;
}

.black {
    background: #C26B35;
}

.white {
    background: #edca9f;
}
